* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(15, 24, 86);
    height: 100vh;
    display: grid;
    place-items: center;
}

button {
    font-family: Arial;
    font-size: 30px;
    border: 5px solid white;
    padding: 20px 45px;
    color: #ffff;
    background-color: transparent;
    letter-spacing: 1.5px;
    border-radius: 10px;
    cursor: pointer;
}
